<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="/assets/ali.jpeg"> </ion-img>
    <ion-card-title> Sidlala Ama Ali </ion-card-title>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/zwink.jpeg"> </ion-img>
    <ion-card-title> Siyazwinka </ion-card-title>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/mkhozi.jpeg"> </ion-img>
    <ion-card-title> Umkhozi </ion-card-title>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/marimba.jpeg"> </ion-img>
    <ion-card-title> Udlala i Marimba</ion-card-title>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/child-parent.jpeg"> </ion-img>
    <ion-card-title> Umama nom ntana </ion-card-title>
  </ion-card>
</ion-content>
